@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;  
}

body{
    background-image: linear-gradient(270deg,#fe5a1d,#c0c0c0,#ffff31);
    font-family: 'Roboto',sans-serif;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
}

img{
    max-width: 100%;
}

.card{
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    border-radius: 20px;
    overflow: hidden;
    background-color: #c4aead;
    width: 400px;
}

.card-header{
    height: 220px;
}

.card-header img{
    object-fit: cover;
    height: 100%;
    width: 100%
}

.card-content{
    background-color:#fff0f5 ;
    padding: 35px;
}

.card-title{
    height: 22px;
    margin: 0;

}

.card-excerpt{
    color: #7777;
    margin: 12px 0 22px;
}

.author{
    display: flex;
}

.profile-img{
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.author-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12px;
    width: 100px;
}

.author-info small{
    color: #696969;
    margin-top: 5px;
}